DATABASE_URL="postgresql://postgres:password@postgres.railway.internal:5432/railway?schema=portal_administrativo"
DATABASE_PUBLIC_URL="postgresql://postgres:password@reseau.proxy.rlwy.net:36787/railway?schema=portal_administrativo"
DB_SCHEMA="portal_administrativo"
PORT=3000
