DATABASE_URL="postgresql://postgres:password@postgres.railway.internal:5432/railway?schema=portal_administrativo"
DATABASE_PUBLIC_URL="postgresql://postgres:password@reseau.proxy.rlwy.net:36787/railway?schema=portal_administrativo"
DB_SCHEMA="portal_administrativo"
PORT=3000
STORAGE_ENDPOINT_URL="https://example-storage-endpoint"
STORAGE_ENDPOINT="https://example-storage-endpoint"
STORAGE_REGION="auto"
STORAGE_BUCKET_NAME="example-bucket"
STORAGE_BUCKET="example-bucket"
STORAGE_ACCESS_KEY_ID="example-access-key"
STORAGE_ACCESS_KEY="example-access-key"
STORAGE_SECRET_ACCESS_KEY="example-secret-key"
STORAGE_SECRET_KEY="example-secret-key"
STORAGE_SECRET="example-secret-key"
STORAGE_FORCE_PATH_STYLE="true"
